doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/css/style.css")
    script(async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBymYYYiITxSjF_XsbdjLEbnizsuxXMGOg&callback=console.debug&libraries=maps,marker&v=beta")
    script(src="/index.js") 
    title AutoSwiper
    link(rel="stylesheet" href="./style.css")
    link(rel="icon", type="image/x-icon", href="/img/favicon.jpg")

  body 
    header
      nav.navbar
        h1.navbar-brand(href='/') AutoSwiper
        ul.nav
          li.active
            a.menu(href='/') Home -
            a.menu(href='/Showroom') - Showroom -
            a.menu(href='/overons') - Over Ons
    img(src="img/headerimage.png", alt="Headerfoto van porsche")
    .container
      h1 Welkom bij AutoSwiper
      p Waar de liefde voor auto's en het gemak van swipen samenkomen. Ben je klaar om je volgende vierwieler te ontmoeten? Of je nu een snelheidsduivel of een zondagsrijder bent, wij hebben iets voor jou. Laten we samen gas geven op de weg naar jouw droomauto.
      p Bekijk ons aanbod hieronder. Je kunt een bod plaatsen op de onderstaande modellen. Wil je de autos eerst liever zien? Dan kan je onze showroom bezoeken!
.aanbodBox
  .tabelContainer
    table
      thead
        tr
          th Naam
          th Kilometerstand
          th Vraagprijs
          th Doe een bod
      tbody
        each auto in autos
          tr
            td #{auto.name}
            td #{auto.kilometerstand}
            td €#{auto.bod}
            td
              form(novalidate action="/update-auto" id="updateAutoForm" method="POST")
                input(type="hidden" name="id" value=auto._id)
                div.content
                  span Hoogste bod: €
                  input(type="number" class="nieuwBod" id="nieuwBodVeld" name="nieuwBod" min=auto.bod value=auto.bod + 1 step="1" required title="Voer een waarde in hoger dan het huidige bod.")
                  input(type="submit" class="submitknop" value="Plaats je bod")